@font-face {
    font-family: 'Cormorant Regular';
    src: url('../fonts/Cormorant_SC/CormorantSC-Regular.ttf');
}
@font-face {
    font-family: 'Cormorant Bold';
    src: url('../fonts/Cormorant_SC/CormorantSC-Bold.ttf');
}
@font-face { 
    font-family: 'Cormorant Light';
    src: url('../fonts/Cormorant_SC/CormorantSC-Light.ttf');
}

@font-face {
    font-family: 'Kalnia Regular';
    src: url('../fonts/Kalnia/static/Kalnia-Regular.ttf');
}

@font-face {
    font-family: 'Kalnia Bold';
    src: url('../fonts/Kalnia/static/Kalnia-Bold.ttf');
}

@font-face {
    font-family: 'Kalnia Light';
    src: url('../fonts/Kalnia/static/Kalnia-Light.ttf');
}

:root { 
    /* COLORS */
    --c-black: hsl(0, 0%, 3%);
    --c-grey: hsl(0, 5%, 43%);
    --c-white: hsl(0, 31%, 90%);
    --c-purple: hsl(283, 30%, 31%);
    --c-purple-light: hsl(307, 46%, 44%);
    --c-yellow: hsl(48, 64%, 53%);
    --c-lime-light: hsl(136, 79%, 94%);
    --c-lime: hsl(135, 69%, 56%);

    /* FONT SIZES */

    --fs-050: 16.5px; /* 0.55 */
    --fs-100: 21.0px; /* 0.70 */
    --fs-200: 30.0px; /* 1.00 */
    --fs-300: 36.0px; /* 1.20 */
    --fs-400: 45.0px; /* 1.50 */
    --fs-500: 54.0px; /* 1.80 */
    --fs-600: 60.0px; /* 2.00 */
    --fs-700: 78.0px; /* 2.60 */
    --fs-800: 90.0px; /* 3.00 */
}

/* * { 
    outline: 1px solid red;
} */

body { 
    background-color: var(--c-black);
    color: var(--c-white);
    margin: 0;
    font-family: 'Cormorant Regular', serif;
    font-size: 32px;
    box-sizing: border-box;
}
