@font-face {
    font-family: 'Cormorant Regular';
    src: url('../fonts/Cormorant_SC/CormorantSC-Regular.ttf');
}
@font-face {
    font-family: 'Cormorant Bold';
    src: url('../fonts/Cormorant_SC/CormorantSC-Bold.ttf');
}
@font-face { 
    font-family: 'Cormorant Light';
    src: url('../fonts/Cormorant_SC/CormorantSC-Light.ttf');
}

@font-face {
    font-family: 'Kalnia Regular';
    src: url('../fonts/Kalnia/static/Kalnia-Regular.ttf');
}

@font-face {
    font-family: 'Kalnia Bold';
    src: url('../fonts/Kalnia/static/Kalnia-Bold.ttf');
}

@font-face {
    font-family: 'Kalnia Light';
    src: url('../fonts/Kalnia/static/Kalnia-Light.ttf');
}

:root { 

    /* COLORS */
    --c-black: hsl(0, 0%, 3%);
    --c-grey: hsl(0, 5%, 43%);
    --c-white: hsl(0, 31%, 90%);
    --c-purple: hsl(283, 30%, 31%);
    --c-purple-light: hsl(307, 46%, 44%);

    /* FONT SIZES */

    --fs-050: 0.55em;
    --fs-100: 0.70em;
    --fs-200: 1.00em;
    --fs-300: 1.20em;
    --fs-400: 1.50em;
    --fs-500: 1.80em;
    --fs-600: 2.00em;
    --fs-700: 2.60em;
    --fs-800: 3.00em;

}

/* * { 
    outline: 1px solid red;
} */

body { 
    background-color: var(--c-black);
    color: var(--c-white);
    margin: 0;
    font-family: 'Cormorant Regular', serif;
    font-size: 32px;
    box-sizing: border-box;
}
